{% extends "base.html" %}
{% load static %}

{% block title %}
   관리자 페이지
{% endblock %}

{% block content %}
    <div class="container">
        <div class="my-4">
            <h3 class="text-center text-wrap text-break" style="font-weight: bold;">관리자 페이지</h3>
        </div>
        <div>
            <div class="three-col-grid" style="padding-bottom: 550px;">
                <div class="grid-item text-center">
                    <a href="{% url 'add_hotel' %}" role="button" class="btn btn-outline-success btn-lg" style="width: 220px;">호텔 등록</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'delete_hotel' %}" role="button" class="btn btn-outline-danger btn-lg" style="width: 220px;">호텔 삭제</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'all_booking_static' %}" role="button" class="btn btn-outline-primary btn-lg" style="width: 220px;">예약 호텔 확인</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'all_users' %}" role="button" class="btn btn-outline-primary btn-lg" style="width: 220px;">사용자 확인</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'users_static' %}" role="button" class="btn btn-outline-secondary btn-lg" style="width: 220px;">Static login users</a>
                </div>
                <div class="grid-item text-center">
                    <a href="{% url 'static_booking' %}" role="button" class="btn btn-outline-secondary btn-lg" style="width: 220px;">Static booking users</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}